.sliderCar {
    padding: 3%;
}

.takim {
    text-align: center;
    margin-top: 1%;
}

.takimYazi {
    text-align: center;
    margin-top: 1%;
    font-size: 20px;
}

.footer {
    text-align: center;
    padding: 20px;
    color: white;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #383838;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.textCenter {
    text-align: center;
}

.paddingCont {
    padding: 25px;
}

.paddingImg {
    padding: 12px;
}

.contColor {
    background-color: #7882A4;

}

.news {
    color: white;
}

.navBarMenu {
    text-align: center;
    padding: 0.5%;
    background-color: #383838;
    color: white;
}

.pageReg{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.background {
    background-image: url(https://images.unsplash.com/photo-1535131749006-b7f58c99034b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

